.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  background-color: #282c34;
  background-image: url('./assets/images/portfolio-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is-centered {
  display: flex;
  justify-content: center;
}
.subheader {
  color: #689775;
  font-size: 2.5em;
  text-align: center;
}
